{
 :title "Debunking: NASA Imagery"
 :date "05/20/23"
 :time/start "18:00"
 :time/end   "20:00"
 :host :dk
 :presenters [:athanasius :angelo :dk]
 :venue :brannigans/library

 :description "Proudly announcing the very first meeting of Flathead Flat Earth!

              We'll be debunking one of the biggest perpetrators of the globe deception: NASA.

              As it turns out, much of the imagery and video that NASA releases has been provably doctored.

              In this presentation, we'll look at astronauts on wires, bubbles in space, evidence of image manipulation, as well as open confessions from NASA staff.

              Schedule:

              6PM - Doors Open
              6:30PM - Presentation Begins
              7:15PM - Q&A
              Afterwards - Social hour with live music

              Please join us for what will surely will be a night to remember!"

 :fee "Free, but Brannigans will only continue to host us if we are a profitable customer for them; please order food & drink to your heart's content."
}
