{
 :title "The North Pole: Polar Bears or Hidden Paradise?"
 :date "11/18/23"
 :time/start "18:00"
 :time/end   "20:00"
 :host :dk
 :presenters []
 :venue :brannigans/library

 :description
 "In this session, we'll be discussing the North Pole.

              In the globe model of the Earth, the North Pole is a frigid and inconsequential place.

              On the Flat Earth, the North Pole sits at the center of the known universe.

              What do we know about this place?

              What have the ancients told us about this place?

              Could it be that this place

              "


 :fee "Free, but Brannigans will only continue to host us if we are a profitable customer for them; please order food & drink to your heart's content."
}
