{
 :title "Debunking: Red Bull Stratos"
 :date "07/22/23"
 :time/start "18:00"
 :time/end   "20:00"
 :host :dk
 :presenters []
 :venue :brannigans/library

 :description "In this session, we'll be looking at a high-profile event which is commonly used as a defense of the Globe: the high-altitude skydive of Felix Baumgartner, sponsored by Red Bull.

              There are two key facets to this event which, to put it politely, cause serious concerns for the globe model:

              First, Baumgartner's traveled path: despite being airborne for two and a half hours before beginning his descent, there is no evidence of Earth's rotation affecting his movement in any way at any time. How can it be that Baumgartner only traveled a distance of X while the Earth was spinning below him at speeds greater than 800 miles per hour?

              Secondly, we can investigate the camera footage: the so-called 'globe footage' from this jump is invalidated by several things, including the words of Neil deGrasse Tyson himself.

              We will closely investigate the above claims and conclude that the Red Bull Stratos Jump not only falls short in proving the globe, but provides concrete evidence invalidating the globe model.

              Schedule:

              6PM - Doors Open
              6:30PM - Presentation Begins
              7:15PM - Q&A
              Afterwards - Social hour"

 :fee "Free, but Brannigans will only continue to host us if we are a profitable customer for them; please order food & drink to your heart's content."
}
