{
 :title "Biblical Support for the Flat Earth"
 :date "12/16/23"
 :time/start "18:00"
 :time/end   "20:00"
 :host :dk
 :presenters []
 :venue :brannigans/library

 :description "In this session, we'll be looking at the Biblical support for a Flat Earth.

              The Bible, similar to many other ancient cultures, describes  Earth as fixed and immovable.
              It turns out that many ancient cultures believed that the Earth was not a globe, but a disc under a dome.

              and how these stories may be more than just 'ignorant beliefs' of past civilizations."

 :fee "Free, but Brannigans will only continue to host us if we are a profitable customer for them; please order food & drink to your heart's content."
}
