{
 :title "Flat Earth: A Model"
 :date "10/16/23"
 :time/start "18:00"
 :time/end   "20:00"
 :event/type :presentation
 :host :dk
 :presenters [:athanasius :dk]
 :venue :brannigans/library

 :description "Now that we have disproven several of the high-profile deceptions which support the globe, we are going to spend some time outlining an explanatory model for how the Earth and celestial bodies may actually behave, based on real-world observation.

              The description of the earth as a disc under a dome was embraced by many ancient cultures. Moreover, the infamous 'Square and Compasses' of Freemasonry is a reference to a flat, circular Earth sitting beneath a dome-shaped Heaven.

              In this presentation, we will present a best-understanding model of how the sun, moon, stars, and Earth are situated relative to one another."

 :fee "Free, but Brannigan's will only continue to host us if we are a profitable customer for them; please order food & drink to your heart's content."
}
