{
 :id :dk
 :name "David Kay"
 :photo/url "/img/presenters/dk.jpg"
 :bio "David is a technology entrepreneur with an ardent interest in arriving at a holistic understanding. After dismissing the Flat Earth as a topic of pure ignorance, he awoke to the topic in 2020 and has not been the same since."
}
